@import "variables";

@media(any-hover: hover) {
  a:hover {
    color: $red-color;
  }

  .btn:hover, button:hover {
    animation: horizontal-animation 2.4s linear infinite;
  }
}

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Oxygen', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: white;
  font-size: 16px;
  color: #000;
}

main {
  flex: 1 0 auto;
  position: relative;
}

section {
  position: relative;
  padding: 10px 0;
}

a {
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
  transition: .3s linear;
}

input, select {
  transition: .3s linear;
}

.btn, button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color;
  cursor: pointer;
  user-select: none;
  line-height: 1;
  font-weight: 700;
  padding: 18px 20px;
  border: 0;
  font-size: 18px;
  position: relative;
  background: $green-btn-gradient-mobile;
  transition: .3s linear;
  border-radius: 100px;
}

a:active, .btn:active, button:active {
  opacity: .5;
}

img,
svg,
iframe,
video {
  width: 100%;
}

ul {
  list-style: none;
}

h2 {
  font-size: 28px;
  color: $text-color;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  font-weight: 700;
  font-size: 32px;
  color: $text-color;
}

p {
  color: $text-color;
}

.footer {
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

@media(min-width: 768px) {
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 32px;
  }
}

@media(min-width: 1024px) {
  body {
    &.burger-active {
      overflow: hidden;

      header {
        padding: 20px 0;

        .burger {
          div {
            opacity: 0;
          }

          &::before {
            transform: rotate(45deg);
          }

          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  section {
    padding: 30px 0;
  }
  h2 {
    margin-bottom: 20px;
  }
  .btn, button {
    font-size: 20px;
    background: $blue-btn-gradient;
  }
}


