$text-color: #1f1f1f;
$red-color: #FF3E3E;
$green-color: #7ECD19;
$project-gradient: linear-gradient(to right, #0686D8, #003E7C);
$blue-btn-gradient: linear-gradient(to right, #0686D8, #003E7C, #0686D8, #0686D8, #003E7C,) left/400%;
$green-btn-gradient-mobile: linear-gradient(to right, #7ECD19, #38B000, #7ECD19) left/400%;
$white-btn-gradient: linear-gradient(to right, #fff, #fff, #7ECD19, #38B000, #fff, #fff) left/520%;

