$text-color: #1f1f1f;
$red-text-color: #FF3E3E;
$project-gradient: linear-gradient(to right, #0686D8, #003E7C);
$green-btn-gradient-mobile: linear-gradient(to right, #7ECD19, #38B000, #7ECD19);
$blue-btn-gradient: linear-gradient(to right, #0686D8, #003E7C, #0686D8);

