@media (any-hover: hover) {
  .footer {
  }
}

.footer {
  background: #292c2f;
  padding: 34px 0 58px;
  text-align: center;
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 50px;
    margin-bottom: 34px;
    div {
      display: flex;
      align-items: center;
      gap: 15px 14px;
      color: #fff;
      font-size: 14px;
      letter-spacing: 0.3px;
      img {
        width: 35px;
      }
      &:last-of-type {
        img {
          width: 39px;
        }
      }
    }
  }
  h4 {
    font-size: 16px;
    color: #fff;
    display: block;
    margin-bottom: 13px;
  }
  p {
    color: #fbfcff;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 41px 0 60px;
    .content {
      margin-bottom: 38px;
    }
    .copywriting {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0 6%;
    }
  }
}
