@import "variables";
@import "animations";

@media (any-hover: hover) {
  a:hover {
    color: $color1;
  }
  .btn:hover,
  button:hover,
  .meet-video .play-icon:hover {
    animation: horizontal-animation 2.3s linear infinite;
  }
  .meet-video .play-icon:hover {
    path {
      fill: $color2;
    }
    & ~ .text {
      opacity: 0;
    }
  }
}

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: white;
  font-size: 16px;
  color: #000;
  font-family: "Oxygen", sans-serif;
  &.scroll-top {
    .header {
      box-shadow: 5px 0 10px #c7c7c7;
      padding: 5px 0;
    }
  }
  &.show-modal {
    .meet-modal {
      visibility: visible;
      opacity: 1;
      .meet-modal-content {
        scale: 1;
      }
    }
  }
}
main {
  flex: 1 0 auto;
  position: relative;
  padding-top: 76px;
}
section {
  position: relative;
  padding: 20px 0;
}
a {
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s linear;
}
input,
select {
  transition: 0.3s linear;
}
.btn,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  user-select: none;
  line-height: 1;
  font-weight: 700;
  padding: 18px 20px;
  border: 0;
  font-size: 18px;
  position: relative;
  background: $btn-gradient-mobile;
  transition: 0.3s linear;
  border-radius: 100px;
}
a:active,
.btn:active,
button:active {
  opacity: 0.5;
}
img,
svg,
iframe,
video {
  width: 100%;
}
ul {
  list-style: none;
}
h2 {
  font-size: 28px;
  color: $text-color;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}
h3 {
  font-weight: 700;
  font-size: 32px;
  color: $text-color;
  line-height: 1.2;
}
h4 {
  display: inline-block;
}
p {
  color: $text-color;
  line-height: 1.4;
}
.footer {
  flex: 0 0 auto;
}
.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
.color1 {
  color: $color1;
}
.bold {
  font-weight: 700;
}
.meet-video {
  height: 52vw;
  max-height: 348px;
  width: 100%;
  max-width: 610px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden;
  padding: 1px;
  #video {
    height: 60vw;
    max-height: 363px;
    width: 100%;
  }
  &.play-video img,
  &.play-video .play-icon,
  &.play-video .text {
    display: none;
  }
  .mejs__container {
    border-radius: 24px;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
  .mejs__controls {
    display: none;
  }
  .on-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .play-icon {
    width: 71px;
    height: 71px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    padding-left: 2px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 50%;
    background: $btn-gradient-desktop;
    transition: 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    &:active {
      opacity: 0.5;
    }
    svg {
      width: 29px;
      height: 29px;
    }
    path {
      fill: #fff;
      transition: 0.3s linear;
    }
  }
  .text {
    max-width: 94%;
    width: 100%;
    position: absolute;
    bottom: 16px;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    text-align: center;
    transition: 0.3s linear;
    p {
      display: inline-block;
      font-size: 12px;
      color: #fff;
      padding: 5px 12px;
      border-radius: 6px;
      background: rgba(31, 31, 31, 0.5);
    }
  }
}
.meet-comment {
  display: flex;
  align-items: start;
  gap: 0 10px;
  padding: 15px 16px;
  background: #f6f8f9;
  border-radius: 20px;
  img {
    width: 44px;
    object-fit: contain;
  }
  h4 {
    background: linear-gradient(to right, $project-color1, $project-color2);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 14px;
  }
  p {
    font-size: 14px;
    line-height: 1.3;
  }
}
.swiper-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 20px;
  margin-bottom: 20px;
  h2 {
    max-width: 800px;
    margin: 0;
  }
  .swiper-buttons {
    display: flex;
    align-items: center;
    gap: 0 12px;
    div {
      display: flex;
    }
    .swiper-btn-prev,
    .swiper-btn-next {
      cursor: pointer;
      padding: 10px;
      path {
        fill: #003e7c;
        transition: 0.3s linear;
      }
    }
    .swiper-btn-prev {
      transform: rotate(180deg);
    }
    svg {
      width: 9px;
    }
  }
}
.swiper-wrapper {
  cursor: pointer;
}
.swiper {
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 32px;
  }
  button {
    background: $btn-gradient-desktop;
    font-size: 20px;
  }
  .meet-video {
    .text {
      p {
        font-size: 18px;
      }
    }
  }
  .meet-comment {
    border-radius: 24px;
    padding: 24px;
    gap: 0 17px;
    img {
      width: 64px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media (min-width: 1024px) {
  section {
    padding: 30px 0;
  }
  h2 {
    margin-bottom: 20px;
  }
  .btn,
  .meet-video {
    position: absolute;
    top: 17px;
    right: 21px;
    z-index: 1;
    .play-icon {
      width: 80px;
      height: 80px;
    }
    .text {
      bottom: 14px;
      p {
        font-size: 18px;
        padding: 8px 18px;
      }
    }
  }
  .swiper-top {
    margin-bottom: 33px;
    .swiper-buttons {
      gap: 13px;
    }
  }
}

@media (min-width: 1200px) {
  .swiper {
    padding-left: 100px;
    padding-right: 100px;
  }
}
