@import "variables";

@media (any-hover: hover) {
  .sexual-health {
    .meet {
      .meet-close-btn:hover {
        transform: rotate(45deg);
      }
    }
  }
}

.sexual-health {
  .meet {
    padding: 0 0 40px;
    &.close-meet {
      .top {
        height: 0;
        min-height: 0;
        padding: 0;
        .meet-close-btn {
          opacity: 0;
        }
      }
    }
    .top {
      min-height: 179px;
      background: $project-gradient;
      padding: 20px 0;
      text-align: center;
      transition: 0.3s linear;
      overflow: hidden;
      .meet-close-btn {
        width: 20px;
        position: absolute;
        top: 15px;
        right: 19px;
        z-index: 1;
        cursor: pointer;
        transition: 0.3s linear;
        &:active {
          opacity: 0.5;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .title {
        display: flex;
        align-items: center;
        gap: 0 10px;
        margin: 0 auto 13px;
        img {
          width: 17px;
        }
        h3 {
          color: #fff;
          font-size: 18px;
        }
      }
      p {
        font-size: 14px;
        color: #fff;
        margin: 0 0 17px;
      }
      button {
        min-width: 100%;
        background: $light-btn-gradient;
        color: $text-color;
      }
    }
    .bottom {
      padding: 19px 0 0;
      h1 {
        margin-bottom: 10px;
        font-size: 32px;
        color: $text-color;
        line-height: 1.2;
        letter-spacing: 0.2px;
      }
      .desc {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 1.4;
      }
    }
  }
  #results {
    background: #e6f3fb;
    padding: 39px 0 40px;
    h4 {
      font-size: 16px;
      background: $project-gradient;
      -webkit-background-clip: text;
      color: transparent;
      margin-bottom: 9px;
    }
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 13px;
      margin-bottom: 80px;
    }
    li {
      width: 100%;
      background: #fff;
      border-radius: 20px;
      padding: 19px;
      div {
        display: flex;
        align-items: center;
        gap: 0 10px;
        img {
          width: 27px;
        }
        h3 {
          color: $color1;
          line-height: 1.2;
        }
      }
      .bottom-title {
        margin-bottom: 5px;
      }
    }
    #chart-container {
      position: relative;
      height: 500px;
      overflow: hidden;
    }
    #age-bracket {
      padding: 40px 0 20px;
    }
  }
}

@media (min-width: 400px) {
  .sexual-health {
    .meet {
      .top {
        button {
          min-width: 216px;
          letter-spacing: -1px;
        }
      }
    }
  }
}

@media (min-width: 567px) {
  .sexual-health {
    #results {
      padding: 20px 0 30px;
      li {
        width: 48%;
      }
    }
    #age-bracket {
      padding: 20px 0 0;
    }
  }
}

@media (min-width: 1024px) {
  .sexual-health {
    .meet {
      padding: 0 0 58px;
      .meet-video {
        width: 48%;
      }
      .meet-close-btn {
        top: 21px;
        right: 24px;
      }
      .top {
        padding: 25px 0;
      }
      .bottom {
        min-height: 460px;
        padding: 68px 0 0;
        .content {
          width: 48%;
        }
        h1 {
          font-size: 54px;
        }
        .desc {
          margin-bottom: 37px;
        }
      }
    }
    #results {
      padding: 69px 0 20px;
      h2 {
        margin-bottom: 25px;
      }
      h4 {
        font-size: 18px;
      }
      li {
        width: 24%;
        padding: 24px 17px;
        .bottom-title {
          margin-bottom: 12px;
        }
        p {
          line-height: 1.3;
        }
      }
    }
  }
}
