@import "variables";

@media (any-hover: hover) {
  .sexual-health {
    .meet {
      .meet-close-btn:hover {
        transform: rotate(90deg);
      }
    }
    #lifestyle {
      li:hover {
        background: rgba(249, 249, 249, 0.1);
      }
      li div:hover {
        color: $color1;
        border-color: $color1;
      }
    }
    .medical-experts {
      .swiper-slide:hover {
        .photo img {
          scale: 1.1;
        }
      }
    }
  }
}

.sexual-health {
  .meet {
    padding: 0 0 36px;
    &.close-meet {
      .top {
        height: 0;
        min-height: 0;
        padding: 0;
        .meet-close-btn {
          opacity: 0;
        }
      }
    }
    .top {
      min-height: 179px;
      background: linear-gradient(to right, $project-color1, $project-color2);
      padding: 20px 0;
      text-align: center;
      transition: 0.3s linear;
      overflow: hidden;
      .meet-close-btn {
        width: 20px;
        position: absolute;
        top: 15px;
        right: 19px;
        z-index: 1;
        cursor: pointer;
        transition: 0.3s linear;
        &:active {
          opacity: 0.5;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .title {
        display: flex;
        align-items: center;
        gap: 0 10px;
        margin: 0 auto 13px;
        img {
          width: 17px;
        }
        h3 {
          color: #fff;
          font-size: 18px;
        }
      }
      p {
        font-size: 14px;
        color: #fff;
        margin: 0 0 17px;
      }
      button {
        min-width: 100%;
        background: $light-btn-gradient;
        color: $text-color;
      }
    }
    .bottom {
      padding: 19px 0 0;
      h1 {
        margin-bottom: 10px;
        font-size: 32px;
        color: $text-color;
        line-height: 1.2;
        letter-spacing: 0.2px;
      }
      .desc {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 1.4;
      }
    }
  }
  #results {
    background: #e6f3fb;
    padding: 39px 0 40px;
    h4 {
      font-size: 16px;
      background: linear-gradient(to right, $project-color1, $project-color2);
      -webkit-background-clip: text;
      color: transparent;
      margin-bottom: 9px;
    }
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 13px;
    }
    li {
      width: 100%;
      background: #fff;
      border-radius: 20px;
      padding: 19px;
      div {
        display: flex;
        align-items: center;
        gap: 0 10px;
        img {
          width: 27px;
        }
        h3 {
          color: $color1;
        }
      }
      .bottom-title {
        margin-bottom: 7px;
      }
    }
    #chart-container {
      position: relative;
      height: 500px;
      overflow: hidden;
    }
    #age-bracket {
      padding: 40px 0 20px;
    }
  }
  #age-bracket {
    padding: 40px 0 23px;
    background: #e6f3fb;
    .content {
      background: #fff;
      border-radius: 20px;
      padding: 33px 15px 22px;
      position: relative;
    }
    .schedule {
      height: 124px;
      background: linear-gradient(to right, #fb9d9d, #b38585);
      clip-path: polygon(
        0 100%,
        0 0,
        35% 41%,
        60% 62%,
        85% 72%,
        100% 75%,
        100% 100%
      );
      position: relative;
      &::after {
        content: "";
        width: 26%;
        height: 40%;
        position: absolute;
        right: 16%;
        bottom: 0;
        z-index: 1;
        background: linear-gradient(to right, #ce5151, #822f2f);
      }
    }
    .true-age {
      width: 21px;
      height: 21px;
      position: absolute;
      top: 41%;
      right: calc(27% + 15px);
      z-index: 1;
      transform: translateX(50%);
      background: #ccc;
      border: 4px solid #fff;
      border-radius: 50%;
      div {
        position: relative;
        &::before {
          content: "";
          height: 45px;
          width: 3px;
          position: absolute;
          top: -45px;
          left: 52%;
          z-index: 1;
          transform: translateX(-50%);
          background: #ccc;
        }
        &::after {
          content: "Your true  sexual age";
          width: 100px;
          text-align: center;
          font-size: 18px;
          font-weight: 700;
          position: absolute;
          top: -88px;
          right: 0;
          z-index: 1;
          transform: translateX(50%);
        }
      }
    }
    .increase {
      width: 100%;
      height: 36px;
      position: relative;
      margin: -18px 0 7px;
    }
    .age {
      width: 36px;
      height: 36px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 13px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transform: translateX(-50%);
      &:first-of-type {
        background: #ff3e3e;
        left: 7%;
      }
      &:nth-of-type(2) {
        background: #cc2a48;
        left: 33%;
      }
      &:nth-of-type(3) {
        background: #99233a;
        left: 58%;
      }
      &:last-of-type {
        background: #661726;
        left: 84%;
      }
      span {
        position: relative;
        &::before {
          content: "age";
          text-transform: uppercase;
          color: #fff;
          font-size: 11px;
          position: absolute;
          top: -26px;
          left: 50%;
          z-index: 1;
          transform: translateX(-50%);
        }
      }
    }
    .desc {
      display: flex;
      gap: 6%;
      font-size: 9px;
      font-weight: 700;
      padding: 0 2%;
      p {
        width: 23%;
      }
    }
  }
  #latest-tech {
    padding: 0;
    .container {
      padding: 0;
      max-width: 1250px;
    }
    .back-desk {
      display: none;
      width: 100%;
      border-radius: 20px 20px 0 0;
    }
    .back-mob {
      object-fit: contain;
    }
    .window {
      width: 152px;
      position: absolute;
      top: 195px;
      right: 32px;
      z-index: 1;
      background: linear-gradient(to left, rgba(255, 255, 255, 0.1), #333);
      border-radius: 15px;
      padding: 11px 13px 11px 10px;
      color: #fff;
      letter-spacing: 0.4px;
      img {
        width: 18px;
        margin: 0 3px -3px 0;
      }
      span {
        color: $color2;
      }
    }
    .content {
      background: linear-gradient(to top, #003e7c, #011930);
      padding: 8px 20px 20px;
      color: #fff;
      margin-top: -5px;
    }
    h3 {
      display: inline-block;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 1;
      color: #fff;
    }
    p {
      color: #fff;
    }
    p:first-of-type {
      font-size: 18px;
      margin-bottom: 12px;
      font-weight: 700;
      line-height: 1.3;
    }
    ul {
      margin-bottom: 25px;
    }
    li {
      position: relative;
      padding-left: 25px;
      margin-bottom: 13px;
      letter-spacing: 1px;
      &::before {
        content: url("../images/icons/ready-white.svg");
        width: 16px;
        height: 16px;
        position: absolute;
        left: 0;
        top: 2px;
        z-index: 1;
      }
    }
    button {
      min-width: 100%;
      margin: 0 auto 6px;
    }
    p:last-of-type {
      text-align: center;
    }
  }
  #experts {
    padding: 40px 0 18px;
    .swiper {
      padding-bottom: 32px;
    }
    .swiper-slide {
      max-width: 300px;
      height: auto;
      width: 100%;
      border-radius: 20px;
      border: 1px solid #eaeaea;
      padding: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 135px;
        margin-bottom: 6px;
      }
      p {
        font-size: 18px;
        margin-bottom: 15px;
      }
      h4 {
        font-size: 16px;
        &:first-of-type {
          margin-top: auto;
        }
        &:nth-of-type(2) {
          font-weight: 400;
          display: block;
        }
      }
    }
  }
  #lifestyle {
    padding: 19px 0 21px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 12px 2%;
    }
    li {
      width: 48%;
      padding: 30px 20px;
      text-align: center;
      position: relative;
      border-radius: 20px;
      border: 1px solid #eaeaea;
      transition: 0.3s linear;
      &:first-of-type h3 {
        color: #7ecd19;
      }
      &:nth-of-type(2) h3,
      &:last-of-type h3 {
        color: #ff3e3e;
      }
      &:nth-of-type(3) h3 {
        color: #f2a000;
      }
      div {
        width: 14px;
        height: 14px;
        font-size: 10px;
        position: absolute;
        top: 11px;
        right: 9px;
        z-index: 1;
        border-radius: 50%;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ccc;
        cursor: pointer;
        transition: 0.3s linear;
      }
      img {
        width: 30px;
        margin-bottom: 13px;
      }
      h4 {
        margin-bottom: 2px;
        display: block;
      }
    }
  }
  #risk {
    padding: 21px 0 38px;
    .swiper {
      padding-bottom: 25px;
    }
    .swiper-slide {
      height: auto;
      border: 1px solid #eaeaea;
      border-radius: 20px;
      padding: 18px;
      img {
        width: 30px;
        margin-bottom: 7px;
      }
      h3 {
        margin-bottom: 7px;
      }
    }
  }
  .medical-experts {
    padding: 38px 0 36px;
    .swiper {
      padding-bottom: 38px;
    }
    h2 {
      font-size: 35px;
      line-height: 1.1;
      letter-spacing: -1.5px;
      margin-bottom: 10px;
      span {
        color: #0686d8;
      }
    }
    .desc {
      font-size: 18px;
      margin-bottom: 21px;
    }
    .swiper-slide {
      width: 270px;
      border-radius: 20px;
      .photo-mob {
        height: 350px;
        border-radius: 16px;
        object-fit: cover;
        margin-bottom: 18px;
      }
      .photo {
        display: none;
        height: 300px;
        overflow: hidden;
        img {
          object-fit: cover;
          height: 100%;
          transition: 0.3s linear;
        }
      }
      h3 {
        font-size: 24px;
        margin-bottom: 1px;
      }
      p:first-of-type {
        margin-bottom: 8px;
      }
      p:last-of-type {
        font-size: 18px;
        line-height: 1.3;
      }
    }
  }
  .discount {
    text-align: center;
    padding: 0;
    margin-bottom: -1px;
    .container {
      padding: 0;
    }
    .tech-img {
      position: relative;
      background: #0577c5;
      padding: 30px 20px 0;
      margin-bottom: -1px;
      img {
        height: 252px;
        object-fit: contain;
        object-position: bottom;
      }
      &::after {
        content: "";
        width: 100%;
        height: 13%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: linear-gradient(to top, #0577c5, #0577c5, rgba(0, 0, 0, 0));
      }
    }
    .wrapper {
      padding: 0 20px 30px;
      background: linear-gradient(to bottom, #0577c5, $project-color2);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .label {
      min-width: 158px;
      padding: 9px;
      align-items: center;
      border-radius: 100px;
      margin-bottom: 6px;
      background: #fff;
    }
    h4 {
      font-size: 14px;
      color: transparent;
      background: linear-gradient(to right, $project-color1, $project-color2);
      -webkit-background-clip: text;
      line-height: 1;
    }
    h3 {
      color: #fff;
      margin-bottom: 11px;
    }
    p {
      color: #fff;
      &:first-of-type {
        max-width: 68%;
        font-size: 18px;
        margin-bottom: 24px;
      }
    }
    button {
      min-width: 100%;
      margin-bottom: 9px;
    }
  }
}

@media (min-width: 400px) {
  .sexual-health {
    .meet {
      .top {
        button {
          min-width: 216px;
          letter-spacing: -1px;
        }
      }
    }
    #latest-tech {
      .container {
        padding: 0 15px;
      }
      .back-mob {
        display: none;
      }
      .back-desk {
        display: block;
      }
      .window {
        width: 145px;
        right: 50%;
        top: 40px;
        padding: 11px 10px;
      }
      h3 {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 20px;
      }
      button {
        min-width: 296px;
      }
    }
    .discount {
      button {
        min-width: 231px;
      }
    }
  }
}

@media (min-width: 567px) {
  .sexual-health {
    #results {
      padding: 20px 0 30px;
      li {
        width: 48%;
      }
    }
    #age-bracket {
      padding: 20px 0 0;
    }
    #latest-tech {
      h3 {
        width: 71%;
        position: absolute;
        top: 25vw;
        left: 20px;
      }
      button {
        margin: 0 0 20px;
      }
      p:last-of-type {
        text-align: start;
      }
    }
    #lifestyle {
      li {
        width: 48%;
        div {
          top: 18px;
          right: 11px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .sexual-health {
    .meet {
      padding: 0 0 58px;
    }
    #results {
      padding: 69px 0 20px;
    }
    #age-bracket {
      padding: 20px 0 68px;
      .content {
        padding: 39px 41px 37px;
      }
      .increase {
        margin: -9px 0 7px;
      }
      .true-age {
        width: 25px;
        height: 25px;
        border-width: 5px;
        top: 42%;
        right: calc(29% + 15px);
        div {
          &::before {
            top: -41px;
          }
          &::after {
            font-size: 18px;
            top: -91px;
          }
        }
      }
      .age {
        &:first-of-type {
          left: 4%;
        }
        &:nth-of-type(2) {
          left: 29%;
        }
      }
      .desc {
        padding: 0;
        text-align: center;
        gap: 16%;
        p {
          width: 11%;
          &:first-of-type {
            width: 8%;
          }
          &:nth-of-type(3) {
            margin-left: 20px;
          }
          &:last-of-type {
            margin-left: -20px;
          }
        }
      }
    }
    #latest-tech {
      padding: 73px 0 30px;
      .back-desk {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 20px;
        object-fit: cover;
      }
      .window {
        top: 10px;
        right: 1%;
      }
      .content {
        width: 62%;
        background: transparent;
        position: relative;
        padding: 40px 20px 40px;
      }
      h3 {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
      }
      p:first-of-type {
        letter-spacing: -0.4px;
      }
    }
    #experts {
      padding: 31px 0 28px;
    }
    #lifestyle {
      padding: 20px 0 29px;
      li div {
        width: 18px;
        height: 18px;
      }
    }
    #risk {
      padding: 30px 0 28px;
    }
    .medical-experts {
      padding: 28px 0 28px;
      h2 {
        letter-spacing: 0.1px;
      }
      .desc {
        margin-bottom: 30px;
      }
      .swiper {
        padding-bottom: 25px;
      }
      .swiper-slide {
        width: 405px;
        border: 1px solid #eaeaea;
        border-radius: 24px;
        overflow: hidden;
        .photo-mob {
          display: none;
        }
        .photo {
          display: block;
        }
        .bottom {
          padding: 24px;
        }
        h3 {
          font-size: 32px;
          margin-bottom: 6px;
        }
        p:first-of-type {
          margin-bottom: 23px;
        }
        p:last-of-type {
          font-size: 16px;
          line-height: 1.4;
        }
      }
    }
    .discount {
      padding: 28px 0 70px;
      text-align: start;
      .container {
        padding: 0 20px;
      }
      .content {
        border-radius: 24px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 20px;
        background: linear-gradient(to right, $project-color1, $project-color2);
        padding: 68px 4% 0;
      }
      .tech-img {
        background: transparent;
        padding: 0;
        &::after {
          display: none;
        }
        img {
          height: 385px;
          margin-bottom: -4px;
        }
      }
      .wrapper {
        width: 58.7%;
        background: transparent;
        margin-bottom: auto;
        align-items: start;
        padding: 0 0 30px;
      }
      .label {
        min-width: 150px;
        padding: 7px 10px;
        text-align: center;
        margin-bottom: 18px;
      }
      h4 {
        font-size: 20px;
      }
      h3 {
        font-size: 43px;
        margin-bottom: 9px;
      }
      p {
        &:first-of-type {
          max-width: 100%;
          font-size: 24px;
          letter-spacing: -0.1px;
          margin-bottom: 31px;
        }
        &:last-of-type {
          font-size: 18px;
        }
      }
      button {
        color: $text-color;
      }
    }
  }
}

@media (min-width: 1024px) {
  .sexual-health {
    .meet {
      .meet-video {
        width: 48%;
      }
      .meet-close-btn {
        top: 21px;
        right: 24px;
      }
      .top {
        padding: 25px 0;
        .meet-close-btn {
          top: 21px;
          right: 25px;
        }
        p {
          font-size: 16px;
        }
      }
      .bottom {
        min-height: 460px;
        padding: 68px 0 0;
        .content {
          width: 48%;
        }
        h1 {
          font-size: 54px;
        }
        .desc {
          margin-bottom: 37px;
        }
      }
    }
    #results {
      h4 {
        font-size: 18px;
      }
      li {
        width: 24%;
        padding: 24px 17px;
        .bottom-title {
          margin-bottom: 12px;
        }
        p {
          line-height: 1.3;
        }
      }
    }
    #latest-tech {
      .content {
        width: 68%;
        padding: 83px 5.7% 80px;
      }
      h3 {
        font-size: 35px;
        letter-spacing: 0.3px;
      }
      p:first-of-type {
        margin-bottom: 33px;
      }
      ul {
        margin-bottom: 31px;
      }
      button {
        background: $light-btn-gradient;
        color: $text-color;
      }
    }
    #experts {
      .swiper {
        padding-bottom: 26px;
      }
      .swiper-slide {
        max-width: 404px;
        padding: 32px;
        img {
          width: 95px;
          margin-bottom: 25px;
        }
        p {
          font-size: 16px;
          line-height: 1.3;
          margin-bottom: 25px;
        }
      }
    }
    #risk {
      .slider-top {
        margin-bottom: 27px;
      }
      .swiper {
        padding-bottom: 26px;
      }
      .swiper-slide {
        img {
          margin-bottom: 12px;
        }
        padding: 26px 32px 26px 24px;
        h3 {
          margin-bottom: 25px;
        }
      }
    }
    #lifestyle {
      padding: 27px 0 30px;
    }
    .discount {
      button {
        background: $light-btn-gradient;
      }
    }
  }
}

@media (min-width: 1200px) {
  .sexual-health {
    #latest-tech {
      .window {
        width: 188px;
        top: 54px;
        right: 41px;
        font-size: 20px;
        padding: 14px 15px 11px 15px;
        img {
          width: 21px;
        }
      }
    }
    #lifestyle {
      li {
        width: 23%;
        padding: 25px 20px;
        img {
          width: 50px;
          margin-bottom: 20px;
        }
        h4 {
          font-size: 24px;
        }
        h3 {
          font-size: 40px;
        }
      }
    }
  }
}
