$text-color: #1f1f1f;
$color1: #ff3e3e;
$color2: #7ecd19;
$project-gradient: linear-gradient(to right, #0686d8, #003e7c);
$btn-gradient-desktop: linear-gradient(
    to right,
    #0686d8,
    #003e7c,
    #0686d8,
    #0686d8,
    #003e7c
  )
  left/400%;
$btn-gradient-mobile: linear-gradient(to right, #7ecd19, #38b000, #7ecd19)
  left/400%;
$light-btn-gradient: linear-gradient(
    to right,
    #fff,
    #fff,
    #7ecd19,
    #38b000,
    #fff,
    #fff
  )
  left/520%;
