$text-color: #1f1f1f;
$red-color: #ff3e3e;
$green-color: #7ecd19;
$project-gradient: linear-gradient(to right, #0686d8, #003e7c);
$blue-btn-gradient: linear-gradient(
    to right,
    #0686d8,
    #003e7c,
    #0686d8,
    #0686d8,
    #003e7c
  )
  left/400%;
$green-btn-gradient-mobile: linear-gradient(to right, #7ecd19, #38b000, #7ecd19)
  left/400%;
$white-btn-gradient: linear-gradient(
    to right,
    #fff,
    #fff,
    #7ecd19,
    #38b000,
    #fff,
    #fff
  )
  left/520%;
